<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Make this playlist</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        {{ bootstrap.load_css() }}
    </head>
    <body>
        <div>
                <div>
                    <script>
                        Swal.fire({
                            title:"{{ response }}",
                            text: "{{ comment }}",
                            icon: "{{ type }}",
                            confirmButtonText: "Add another track",
                        }).then(function() {
                                window.location = "/search/{{ roomid }}";
                        })

                    </script>
                </div>
        </div>
    </body>
</html>