<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Fête de la musique</title>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        {{ bootstrap.load_css() }}
    </head>
    <body>
        <div>
                <div>
                    <script>
                        if ("{{type}}" === "error") {
                            Swal.fire({
                                title: "{{ response }}",
                                text: "{{ comment }}",
                                icon: "{{ type }}",
                                confirmButtonText: "Try again",
                            }).then(function() {
                                window.location = "/";
                            })
                        }
                        Swal.fire({
                            title:"{{ response }}",
                            text: "{{ comment }}",
                            icon: "{{ type }}",
                            confirmButtonText: "Add some music!",
                        }).then(function() {
                                window.location = "/search/{{ roomid }}";
                        })
                    </script>
                </div>
        </div>
    </body>